<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.Android.com/tools"
    package="com.wms.ui">

    <uses-sdk android:targetSdkVersion="27" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:icon">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wms.ui.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.wms.ui.ScheduleCheckActivity"
            android:label="@string/title_activity_out_time"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.wms.ui.SaleCheckActivity"
            android:label="@string/title_activity_sale"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.wms.ui.StorgeCheckActitity"
            android:theme="@style/Base.AppTheme" />
    </application>

</manifest>