<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uhf.uhf"
    android:versionCode="11"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name="com.uhf.uhf.UHFApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <activity
            android:name="com.uhf.uhf.ConnectRs232"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderAddress"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderIdentifier"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderFirmwareVersion"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderTemperature"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderGpio"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderBeeper"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderOutPower"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderAntenna"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderReturnLoss"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderAntDetector"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderMonza"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderRegion"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderProfile"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.tagpage.PageInventoryReal"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.tagpage.PageInventoryBuffer"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.tagpage.PageInventoryFast"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.tagpage.PageInventoryReal6B"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.tagpage.PageTagAccess"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.tagpage.PageTag6BAccess"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.Monitor"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.uhf.uhf.Setting"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

    </application>

</manifest>